@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-pretendard bg-gray-100 text-gray-800 overflow-y-scroll;
  }
}

@layer components {
  .custom-bubble {
    @apply bg-gray-50 border border-gray-300 rounded-xl p-4 relative; /* rem/px 단위로 수정 제안 */
  }
}

/* 스크롤바 숨김 유틸리티는 그대로 유지 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
